* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f9e5f1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contenedor {
  background: #ffe5b4;
  padding: 30px;
  border-radius: 60px;
  width: 100%;
  max-width: 700px;
}

h1 {
  color: #d05273;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.campo {
  margin-bottom: 15px;
}

.fila {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.fila .campo {
  flex: 1;
  min-width: 280px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #d05273;
  font-weight: bold;
  font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  border-top: 1px solid #d05273;
  border-left: 4px solid #d05273;
  border-right: 0.5px solid #d05273;
  border-bottom: 2px solid #d05273;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
  background-color: #f9e5f1;
}

.opciones-radio {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.opciones-radio label {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}

input[type="radio"] {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.checkbox-label {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
}

.boton-enviar {
  width: 100%;
  padding: 12px;
  background-color: #d05273;
  color: white;
  border: 1px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.boton-enviar:hover {
  background-color: #f9e5f1;
  color: black;
  box-shadow: 0 0 10px #d05273;
}

.opciones-radio.error {
  border: none !important;
}

.opciones-radio.error label {
  color: red;
}

input[type="text"].error,
input[type="email"].error,
input[type="date"].error,
select.error {
  border-color: red !important;
  border-left: 4px solid red !important;
  border-bottom: 2px solid red !important;
}

input[type="checkbox"] {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  appearance: auto;
}

#label-terminos.error {
  color: red;
}

input[type="checkbox"].error,
#label-terminos.error input[type="checkbox"],
.error input[type="checkbox"] {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mensaje-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.mensaje-error.mostrar {
  display: block;
}

@media (max-width: 600px) {
  .contenedor {
    padding: 20px;
    border-radius: 30px;
  }

  .opciones-radio {
    flex-direction: column;
    gap: 10px;
  }

  .fila {
    flex-direction: column;
  }

  .fila .campo {
    min-width: 100%;
  }
}
